<%= form_for(order, class: "checkout") do |f| %>
    <%= render 'shared/error_messages', object: order %>

    <div id="customer_details">

      <div class="woocommerce-billing-fields">
        <h3>Billing Details</h3>

        <div class="form-row form-row-first validate-required">
          <%= f.label :name %>
          <%= f.text_field :name, class: "input-text" %>
        </div>

        <div class="form-row form-row-first validate-required">
          <%= f.label :address %>
          <%= f.text_area :address %>
        </div>

        <div class="form-row form-row-first validate-required">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

        <script>
          function render_stripe_fields(payType) {
            if(payType == 'Credit card') {
              $('#stripe-fields').html("<%=j render 'stripe_fields', f: f %>");
            } else {
              $('#stripe-fields').html('');
            }
          }
        </script>
        <div class="form-row form-row-first validate-required">
          <%= f.label :pay_type %>
          <% Order.pay_types.each do |pay_type, value| %>
            <div class="radio">
              <label>
                <%= f.radio_button :pay_type, pay_type, onclick: "render_stripe_fields('#{pay_type}');" %>
                <%= pay_type %>
              </label>
            </div>
          <% end %>
        </div>


        <div id="stripe-fields"></div>

        <div class="form-row place-order">
          <%= f.submit 'Place Order' %>
        </div>

      </div>

    </div>

<% end %>
