<script language="Javascript">
  Stripe.setPublishableKey("<%= Rails.configuration.stripe[:publishable_key] %>");
</script>

<div id="flash-messages"></div>

<div class="row col-md-12">
  <div class="form-group col-md-4">
    <%= f.label :card_number, "Card Number", data: { stripe: 'label'} %>
    <%= f.text_field :card_number, class: "form-control", required: true, data: { stripe: 'number'} %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :card_cvv, "Card CVV", data: { stripe: 'label'} %>
    <%= f.text_field :card_cvv, class: "form-control", required: true, data: { stripe: 'cvv'} %>
  </div>
  <div class="form-group col-md-6">
    <div class="col-md-12">
      <%= f.label :card_expires, "Card Expires", data: { stripe: 'label'} %>
    </div>
    <div class="col-md-6">
      <%= f.select :card_expires_month, options_for_select(Order.month_options),
                  { include_blank: 'Month' },
                  "data-stripe" => "exp-month",
                  class: "form-control", required: true %>
    </div>
    <div class="col-md-6">
      <%= f.select :card_expires_year, options_for_select(Order.year_options.push),
                  { include_blank: 'Year' },
                  class: "form-control",
                  data: { stripe: "exp-year" }, required: true %>
    </div>
  </div>
</div>
