<%= render 'shared/product_title', title: 'Shop' %>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
              
              <ul class="nav nav-pills nav-stacked">
                <% @categories.roots.each do |category| %>
                  <li class="<%= 'active' if current_page?(category_path(category)) %>">
                    <%= link_to category.name, category %>
                    <%= render 'subcategories', categories: category.root.descendants.arrange %>
                  </li>
                <% end %>
              </ul>
              
            </div>
            <div class="col-md-9">
              <div class="row">
            <% @products.each do |product| %>
                <div class="col-md-3 col-sm-6">
                  <div class="single-shop-product">
                      <div class="product-upper">
                          <%= image_tag product.image? ? product.image.url : 'product-placeholder.jpg' %>
                      </div>
                      <h2><%= link_to product.name, product %></h2>
                      <div class="product-carousel-price">
                          <ins>$<%= product.price %></ins> <del>$999.00</del>
                      </div>  
                      
                      <div class="product-option-shop">
                          <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'add_to_cart_button' %>
                      </div>                       
                  </div>
                </div>
            <% end %>
        </div>

              <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                      <%= will_paginate @products, previous_label: '&laquo;', next_label: '&raquo;' %>
                    </nav>                        
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>