<div class="col-md-3 col-sm-6">
  <div class="single-shop-product">
    <div class="product-upper">
      <%= image_tag product.image? ? product.image.url : 'product-placeholder.jpg' %>
    </div>
    <h2><%= link_to product.name, product %></h2>
    <div class="product-carousel-price">
      <%= product_price(product) %>
      <p><%= show_stars(product) %></p>
    </div>

    <div class="product-option-shop">
      <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'add_to_cart_button', remote: true %>
    </div>
  </div>
</div>