<%= render 'shared/product_title', title: 'Shop' %>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>
                
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <% @new_products.each do |product| %>
                        <div class="thubmnail-recent">
                            <%= image_tag product.image? ? product.image.url : 'product-placeholder.jpg', alt: '', class: 'recent-thumb' %>
                            <h2><%= link_to product.name, product %></h2>
                            <div class="product-sidebar-price">
                                <ins><%= number_to_currency(product.price) %></ins> <del>$800.00</del>
                            </div>                             
                        </div>
                    <% end %>
                </div>
                
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <% @new_products.each do |product| %>
                            <li><%= link_to product.name, product %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        
                        <%= link_to 'Home', root_path %>
                        <%= render 'categories/breadcrumbs', categories: @product.category.ancestors.arrange %>
                        <%= link_to @product.category.name, @product.category %>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <%= image_tag @product.image? ? @product.image.url : 'product-placeholder.jpg' %>
                                </div>
                                
                                <!--<div class="product-gallery">-->
                                    <% # image_tag "product-6.jpg", alt: '' %>
                                    <% # image_tag "product-6.jpg", alt: '' %>
                                    <% # image_tag "product-6.jpg", alt: '' %>
                                    <% # image_tag "product-6.jpg", alt: '' %>
                                <!--</div>-->
                            </div>
                        </div>
                        
                        
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name"><%= @product.name %></h2>
                                <div class="product-inner-price">
                                    <ins><%= @product.price %></ins> <del>$800.00</del>
                                </div>    
                                
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'add_to_cart_button' %>
                                
                                <div class="product-inner-category">
                                    <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                </div> 
                                
                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>  
                                            <p><%= @product.description %></p>
                                            
                                            <% @product.product_properties.each do |prop| %>
                                                <div class="row">
                                                    <div class="col-md-6"><h3><%= prop.property.name %></h3></div>
                                                    <div class="col-md-6"><p><%= prop.value %></p></div>
                                                </div>
                                            <% end %>
                                            
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                            <div class="submit-review">
                                                <%= form_for(@product.reviews.build) do |f| %>
                                                    <%= f.hidden_field :product_id, value: @product.id %>
                                                    
                                                    <div class="field">
                                                        <%= f.label :author_name, 'Name' %>
                                                        <%= f.text_field :author_name %>
                                                    </div>
                                                    
                                                    <div class="field">
                                                        <%= f.label :author_email, 'Email' %>
                                                        <%= f.text_field :author_email %>
                                                    </div>
                                                    
                                                    <div class="field">
                                                        <%= f.label :rating %>
                                                        <% (1..5).each do |value| %>
                                                          <span><%= value %>&nbsp;&nbsp;</span><%= f.radio_button :rating, value %>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <% end %>
                                                    </div>
                                                    
                                                    <div class="field">
                                                        <%= f.label :review %>
                                                        <%= f.text_area :review %>
                                                    </div>
                                                    
                                                    <div class="actions">
                                                        <%= f.submit %>
                                                    </div>
                                                <% end %>
                                                
                                                <hr>
                                               
                                                <div class="reviews">
                                                    <% @product.reviews.published.each do |review| %>
                                                        <div class="row">
                                                            <div class="col-md-6"><h3><%= review.author_name %></h3></div>
                                                            <div class="col-md-6"><%= show_review_stars(review) %></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12"><p><%= review.review %></p></div>
                                                        </div>
                                                    <% end %>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony Smart TV - 2015</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                                <div class="product-carousel-price">
                                    <ins>$899.00</ins> <del>$999.00</del>
                                </div> 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Apple new i phone 6</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony playstation microsoft</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$200.00</ins> <del>$225.00</del>
                                </div>                            
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Sony Smart Air Condtion</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$1200.00</ins> <del>$1355.00</del>
                                </div>                                 
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <%= image_tag "product-6.jpg", alt: '' %>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="">Samsung gallaxy note 4</a></h2>

                                <div class="product-carousel-price">
                                    <ins>$400.00</ins>
                                </div>                            
                            </div>                                    
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>